# docker-compose-search.yml starts "search" service and override some
# services to link them so they can use the "search" as well.

volumes:
  search_data:

services:

  celery:
    environment:
      - SEARCH=t

  web:
    environment:
      - SEARCH=t

  # You may need to increase the memory for vm
  # sudo sysctl -w vm.max_map_count=262144
  search:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    environment:
      - discovery.type=single-node
      - node.name=search
      - cluster.routing.allocation.disk.threshold_enabled=false
      - cluster.info.update.interval=30m
      - "ES_JAVA_OPTS=-Xms128m -Xmx128m"
      - ELASTIC_PASSWORD=password
      # Disable HTTPS on development.
      - xpack.security.transport.ssl.enabled=false
    ports:
      - "9200:9200"
    links:
      - web
      - celery
    volumes:
      - search_data:/usr/share/elasticsearch/data
    networks:
      readthedocs:
